* {
	margin: 0;
	padding: 0
	font-family: Arial, Helvetica;
}

body {
	margin: 0 8px;
	font-family: 'Neuton', serif;	
}

header {	
	background-color: red;
	background-image: linear-gradient(to bottom right, #00b300, white);
	padding: 80px;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-size: 40px;
	color: black;
	text-shadow: 0.5px 0.5px 0.5px #111111;
	height: 50%;
}

footer {
	background-color:GhostWhite;
	clear: both;
	text-align: center;
	line-height: 1.8;
}

#sidebar {
	float: left;
	margin: 3px 0px;
	padding: 0;
	width: 20%;
	height: 100%;
	overflow: auto;
}

#sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.description {
  display: none;
  color: #995c00;
}

.myLINK:hover + .description {
  display: block;
  background-color: White;  
  padding: 7px;
  text-indent: 16px;
}

.myLINK:hover {  
  background-color: White;
  border: 1px solid black;
  font-size: 112%;
}

#reports {	
	background-color: rgb(230, 255, 230, 0.5);
	float: right;
	width: 79%;
	border-style: solid;
	border-color:#006600;
	margin: 3px;
}

#reports > div {	
	height: 100px;
	line-height: 20px;
	text-align: justify;
	padding: 6px;
}

#reports > h1 {	
	color: rgb(255, 153, 0);
}

.leiamais {
  text-decoration: none;
  float: right;
}

@media screen and (max-width: 1015px) {
	#sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}

	#sidebar a {float: left;}
	div.content {margin-left: 0;}
	
	.myLINK:hover + .description {
		display: none;
	}
	
	.myLINK:hover {
		border-style: none;
	}
	
	#reports {	
		width: 99%;
	}
}

@media screen and (max-width: 400px) {
	#sidebar a {
		text-align: center;
		float: none;
	}
}

footer h1 {
	font-size: 100%;
	text-transform: uppercase;
	font-weight: bold;
}

.zoomInDown-element {
  display: inline-block;
  margin: 0 0.5rem;
  animation: zoomInDown;
  animation-duration: 2s; 
  animation-delay: 0.3s;
}

@keyframe zoomInDown {
}

.fadeInLeft-element {
  display: inline-block;
  margin: 0 0.5rem;
  animation: fadeInLeft;
  animation-duration: 2s;  
  animation-delay: 0.6s;
}

@keyframe fadeInLeft {
}

#main_div {	
	background-color: rgb(230, 255, 230, 0.5);
	float: right;
	width: 99.5%;
	border-style: solid;
	border-color:#006600;
	margin: 3px;
}

#main_div > div {	
	height: 100px;
	line-height: 20px;
	text-align: justify;
	padding: 6px;
}

#main_div > h1 {	
	color: rgb(255, 153, 0);
}

