* {
	/*font-family: Arial, Helvetica;*/
	/*box-sizing: border-box;*/
}

body {
	padding: 5px;
	margin:  5px;
	
}

header {
	/* background-image: url('../back.png');
	background-size: 100%; */
	padding: 1px;
	margin: 20px;
	text-align: center;
	font-size: 35px;
	color: gray;
	/*text-shadow: 0.5px 0.5px 0.5px #111111; */
	width: 97%;
	height: 30%;
	border: 5px solid black;
}

h1 {
  /*color: blue;*/
  font-family: verdana;
  text-align: center;
  margin: 20px;
  padding: 20px;
  /*font-size: 100%;*/
}

h2 {
  /*color: blue;*/
  font-family: verdana;
  text-align: center;
  /*font-size: 100%;*/
}

p {
  color: black;
  font-family: courier;
  font-size: 160%;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
}
/* img {
  width: 50%;
  /*float:right*/
  /*display: block;
  margin-left: auto;
  margin-right: auto;
} */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.multimidia {
  width: 325px;
  height:150px;
  margin: auto;
  /*float: left;
  padding: 15px;

  border: 1px solid black;*/
}

.descricao {

  text-align: center;
  margin: auto;
  /*float: left;
  padding: 15px;
  margin: 20px;
  border: 1px solid black;*/
}

.youtube{
	width:600px;
	height:300px;
	display: block;
	margin-left:auto;
	margin-right:auto;
}