* {
	margin: 0;
	padding: 0	
}

body {
	margin: 0 8px;
	font-family: 'David Libre', serif;	
}

header {
	background-color: #000066;
	padding: 30px;
	text-align: center;
	font-family: 'Peddana', serif;
	font-size: 40px;
	color: White;
	text-shadow: 0.5px 0.5px 0.5px #111111;
	height: 50%;
	margin: 10px;
}

footer {
	clear: both;
	text-align: center;
	line-height: 1.8;
}

#reports {	
	background-color: #F0FFFF;
	float: center;	
	border-style: solid;
	margin: 10px;
	padding: 5px;	
}

#reports > div {	
	height: 100px;
	line-height: 20px;
	text-align: justify;
	padding: 6px;
}

#reports > h1 {	
	color: blue;
}

#reports div > h3 {	
	color: blue;
}


@media screen and (max-width: 1015px) {	
	#reports {	
		width: 99%;
	}
}

footer h1 {
	font-size: 100%;
	text-transform: uppercase;
	font-weight: bold;
}

img {
    display:block;
    margin:auto;
}